body{
  color: #faffaf;
}

@font-face {
  font-family: Segoe Script;
  src: url(SEGOESCB.TTF) format('truetype');
}


h1 {
  text-align: center;
  color: #2A2929;
  font-family: Segoe Script;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 65px;
  letter-spacing: 4;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}


li {
    display: inline;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 10px;
}

ul li{
  text-align: center;
}

li a{
text-decoration: none;
color: #95989A;
font-family: Prestige Elite Std;
font-size: 20px;

}

.description {
  font-family: georgia;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  width: 95%;
  line-height: 1.8;
}

.title {
  text-align: center;
  font-family: Adobe Gothic Std;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.name {
  width: 100%;
  text-align: center;
  font-size: 20;
  font-family: georgia;
  letter-spacing: 1pt;
}

.bio {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  word-break: keep-all;
  line-height: 1.8;
  letter-spacing: 0.2;
}

.team, .Sources{
  width: 600px;
  margin: 0 auto;
}

.SourceName {
  width: 100%;
  text-align: center;
  font-size: 20;
  font-family: Adobe Gothic Std;
  letter-spacing: 0.5pt;
  padding-top: 10pt;
  font-weight: bolder;
  color:#262626;
}

.SourceDescription {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  word-break: keep-all;
  line-height: 1.8;
  letter-spacing: 0.2;
}
