body{
  color: #faffaf;
}

h1 {
  text-align: center;
  color: #2A2929;
  font-family: Segoe Script;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 55px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}


li {
    display: inline;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 10px;
}

ul li{
  text-align: center;
}

li a{
text-decoration: none;
color: #95989A;
font-family: Prestige Elite Std;
font-size: 20px;

}
